// . {
//   background: image-url("bikehp.jpg");
//   background-size: cover;
//   width: 100%;
// }

body {
  padding-top: 60px;
  position: relative;
  padding-bottom: 40px;
  height: 100vh;
  line-height: 2.5;
}

.title {
  margin: 25px;
  height: 300px;
}

.banner {
  height: calc(100vh - 130px);
  width: 100vw;
  background-size: cover;
}

#margin {
  margin-left: 80px;
  margin-bottom: 20px;
  margin-top: 20px;
}
