// . {
//   background: image-url("bikehp.jpg");
//   background-size: cover;
//   width: 100%;
// }

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.title {
  margin: 25px;
  height: 300px;
}

.banner {
  height: calc(100vh - 130px);
  width: 100vw;
  background-size: cover;
}
