<div class="booking-show">

  <h1>Get your helmet ready!</h1>
  <h3>Your Booking has been accepted!</h3>
  <p>Your individual booking page</p>

  <%= @booking.rental_date %>
  <%= @booking.return_date %>
</div>

