   <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <div class="footer-copyright">
        This website is made with <i class="fas fa-bicycle"></i> at Le Wagon
      </div>
    </div>
  </div>
</div>
