<div class="banner" style="background-image: url(<%= image_path "bikehp.jpg" %>);">


  <div class="container">
    <div class="row justify-content-left">
      <div class="col-md-8">
          <h1>Two Wheeler</h1>
          <h2>UK's no. 1 Bike Rental Platform</h2>
          <h5>Over 3,000,000 users active in London</h5>
          <%= link_to 'Rent a Bike', bikes_path, class:"btn btn-success" %>
      </div>
    </div>
  </div>
</div>
