<h1>Search Results</h1>



<div class="card-product">
  <img src="/images/LivWomen'sRoadbike.jpg"/>
  <div class="card-product-infos">
    <h2>Road Bike</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <img src="FatBike" />
  <div class="card-product-info">
    <h2>Mountain Bike</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <img src="NorcoMountainBike" />
  <div class="card-product-infos">
    <h2>Tri Bike</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <img src="PeugeotFixie" />
  <div class="card-product-infos">
    <h2>Peugeot Fixie</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <img src="Red_Cruiser">
    <h2>Cruiser</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <img src="ShimanoRoadBike">
    <h2>Shimano Road Bike</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <img src="StepThroughCruiser">
    <h2>Step Through Cruiser</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<div class="card-product">
  <img src="white_bianchi" />
  <div class="card-product-infos">
    <h2>White Bianchi</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>


