  .container {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .bikes-cards {
    height: 100vh;
    width: 66%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

  }

  .bike-content {
    height:100%;
    display: grid;
    flex-direction: row;
    grid-gap:  15px

  }

  .bike-card {
    height: 500px;
    width: 500px;
    display: grid;
    flex-direction: column;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: 3px 2px 3px rgba(0,0,0,0.4);
  }


  .bike-image {
    height: 100%;
    width: 100%;

    & img {
      object-fit: cover;
    }
  }

  .bikes-map {
    height: 100vh;
    width: 100%;
  }

