.container-found-page {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1140px;
  height: 80%;
  margin: 60px auto;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);

  .found-something-cont-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C0F7F0;
    width: 48%;
    min-height: 100%;
    overflow: hidden;

    img {
      max-width: 420px;
    }
  }
  .found-something-cont-form {
    flex: 1;
    position: relative;
    padding: 30px;
    width: 48%;
    height: 100%;

    span {
      display: block;
      margin-bottom: 30px;
      font-size: 32px;
      font-weight: 100;
    }
    a {
      left: 30px;
      bottom: 60px;
      justify-content: space-around;
      color: rgba(0,0,0,0.3);
      font-size: 12px;
    }
  }
  .nav-link-form {
    position: absolute;
    left: 30px;
    bottom: 60px;
    justify-content: space-around;
    color: rgba(0,0,0,0.3);
    font-size: 12px;

    &:hover {
      color: #605a5a;
      text-decoration: none;
    }
  }
}
