.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  position: sticky;
  top: 0;
  margin-left: 20px;
  width: 80%;
  height: 500px;
  border-radius: 6px;
}
